<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6 mx-auto">
        <mat-card>
          <mat-card-header>
            <mat-card-title><h3>Login</h3></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
              <mat-form-field class="w100">
                <input matInput placeholder="Email" name="email" type="email" [(ngModel)]="email" email required>
              </mat-form-field>
              <mat-form-field class="w100">
                <input matInput placeholder="Password" name="password" type="password" [(ngModel)]="password" password required>
              </mat-form-field>
              <div class="recaptcah-wrapper">
                <re-captcha [site_key]="googleSiteKey" (captchaResponse)="handleCorrectCaptcha($event)"></re-captcha>
              </div>
              <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid || !captcha">Login</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
