.hero {
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  margin: 0;
  position: absolute;
  display: flex;
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.w100 {
  width: 100%;
}

.recaptcah-wrapper {
  padding: 20px 0;
}
